*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5% 5%;
}
.navbar .icon{
    width: 22px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}
.navbar .shop{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 600;
    align-self: center;
}
.heading{
    padding:5% 5%;
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.heading .checkout{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 1rem;    
}
.heading .instruction{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: .8rem;
}
/* account info*/
.information{
    padding:0% 5%;
    display: flex;
    flex-direction: column;
    gap:3px;
}
.address{
    padding:0% 5%;
    display: flex;
    flex-direction: column;
    gap:3px;

}
.text-heading{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 550;
}

.buttons{
    display:flex;
    flex-direction:row;
}
.form{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:450px;
    padding: 10px 0px;
    padding-right:15px;
}
.input-data{
    height:40px;
    width:80%;
    /* position:relative; */
}
.input-data input{
    width:110%;
    border:none;
    font-size:17px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    border-bottom:1px solid silver;
}
.input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size:15px;
    color:blue;
}
.input-data label{
    position:absolute;
    color:grey;
    pointer-events:none;
    transition: all 0.3s ease;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 200;
}


.state-and-code{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .input-data input{
        width:70%;
        border:none;
        border-bottom:1px solid silver;
    }
    .zipcode{
        right:35px;
    }
}

.billbox{
    padding:5% 5%;
    .text-heading{
        margin-bottom: 5%;
    }
}
.billbox .country-name{
        width:87%;
        border: none;
        background-color: white;
        border-bottom:1px solid silver;
    }

    #billing-address {
        display: none;
        gap:30px;
    
    }
    
    #address:checked + label + #billing-address {
        display: flex;
        gap: 30px;
    }
    



/* payment */
.payment-process{
    padding:0% 5%;
    display: flex;
    flex-direction: column;
    gap:3px;
}
.payment-process .form .buttons{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:2%;
    position:relative;
    .border{
        margin-right:5%;
        display:flex;
        justify-content: center;
        width:50%;
        border: none;
        background-color: white;
        border-bottom:1px solid silver;

    }
    .input-data input {
        margin-top: 6px;
        width:60%;
    }
}

/* order */
.order-details{
    padding:5% 5% 20% 5%;
    position: relative;
    .text-heading{
        margin-bottom:5%;
    }
}
.details{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    gap:50px;
}
.order-details .details .d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
}
.place-order{
    background-color: rgb(4, 4, 73);
    color:white;
    height: 60px;
    width:100vw;
    font-size:1rem;
    border:none;
    position: fixed;
    bottom: 0;
    text-align: center;
}

@media(min-width:1024px){

    .navbar{
        padding:1% 5%;
    }
    .navbar .icon{
        background-color:white;
    }
    .navbar .shop{
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-weight: 800;
        font-size: 1.3rem;
        align-self: center;
    }
    .heading .checkout{
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-size: 1.7rem;    
    }
    .heading .instruction{
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-size: 1.2rem;
    }


    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container1{
        display:flex;
        flex-direction: column;
    }
    .text-heading{
        font-size: 1.2rem;
        margin-bottom: 7%;
    }
    
    .place-order{
        height: 60px;
        width:fit-content;
        font-size:1rem;
        position: relative;
        bottom:11%;
        left:5%;
        background-color: white;
        color:black;
        border: black solid;
        padding: 0 20px;
    }


    .order-details .details .d{
        font-size:   1rem;
    }


}
